// this for search page and  any none content too-- apply for content-none.php
.search-form-wrapper-no-content{
  display: flex;
  justify-content:  center;
  align-items: center;
  margin: 15px auto;
}