.custom-logo-link{
  @extend  %text_decoration_none;
  .custom-logo{
    width: 27px;
    height: 27px;
  }
}
// custom logo in top navbar
.custom-logo-link > img{
  width: 27px;
  height: 27px;
  margin-right: 5px;
}
//start navbar
.header-nav{
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030;
  transition: all 0.5s;

  .current-menu-item > .nav-link , .current-menu-item-scroll > .nav-link{
    // imtoptant for change style of bootstrap
   // color: black !important;
    @extend %transition_middle;
  }
}
.top-navbar-scroll-fixed{
  position: fixed;
  top:-9px ;// why??
  transition: all 0.5s;
  &  nav.navbar.top-navbar{
    // for 100% width on top positon
    position: absolute;
    width: 100vw; left:0 ; right:0;
    transition: all 0.5s;
  }


}
.admin-bar .top-navbar-scroll-fixed{
  position: fixed;
  //top: 32px;
  top: 24px;
  transition: all 0.5s;
}

//end navbar

// default style and replace inline style
.header-nav {
  transition: all 0.5s;
  width: 100%;
  & > nav.navbar.top-navbar{
  //  background-color: transparent;
   // width: 100%;
    transition: all 0.5s;
    background-color: rgba( darken(#fff , 10%) , 0.9) !important ; // Sorry / need important here!
    &:hover{
      background-color: rgba( darken(#fff , 10%) , 0.95) !important ; // Sorry / need important here!
    }
    .menu{
      border-bottom: none;
    }
  }
}

// decoration element and etc
.header-nav li.nav-item{
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  transition: all 0.5s;
  position: relative;
  &:before{
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -0.55rem;
    background-color: lighten(black , 10%);
    left: 0;
    opacity: 0;
    transition: all 0.5s;
  }
  a{
    outline: none;
    border: none;

  }
}
.header-nav li.nav-item.current-menu-item,
.header-nav li.nav-item.current-menu-item-scroll,
.header-nav  li.nav-item:hover,
.header-nav li.dropdown.show{
  background: rgba(lighten(#000 , 10%) , 0.7);
  transition: all 0.5s;
  &:before{
   opacity: 1;
  }

  & > a{
    color: #fff !important; // sorry cannot set color -- bootstrfp?? need fix
    transition: all 0.5s;
  }
}
.header-nav li.dropdown.show > a.nav-link.dropdown-toggle{
  background: lighten($black , 30%);
  transition: all 0.5s;
}

.header-nav  ul.menu > li.nav-item  {
//@include  btn_underline_hover_active(rgba($black  , 1) , rgba( $black , 1) ) ;
//  &:before , &:after{
//    box-shadow: none;
//    height: 2px;
//  }
}

//.header-nav ul.menu > li.nav-item.current-menu-item {
//  &:before {
//    box-shadow: 0 2px 2px 3px rgba(yellow, 0.4);
//    width: 100%;
//    transition: all 0.5s;
//  }
//}

// header nav name and logout in menu
.header-nav-menu-name-logout{
  display: flex;
  a{
    display: block;
    width:100%;
    border-radius: 2px;
    text-decoration: none;
    color: $black;
    transition: all 0.5s;
    padding: 4px 6px 4px 6px ;
    &:hover{
      transition: all 0.5s;
     background-color: lighten($black , 30%);
    }
    &:hover > span ,
    &:hover > i{
     color: lighten( $black , 80%);
      transition: all 0.5s;
    }
    &:first-child{
      margin-right: 5px;
      text-transform: uppercase;
    }
  }
}




// media
@media (max-width: 991.98px) {
  .header-nav ul.menu > li.nav-item.current-menu-item:before,
  .header-nav ul.menu > li.nav-item.current-menu-item-scroll:before,
  .header-nav ul.menu >  li.nav-item:hover:before{
    width: 0;
  }
  .header-nav ul.menu{
    display: block;
  }

  .header-nav li.nav-item{
    background: rgba( darken(#fff , 10%) , 0.8);
  }


}


// for big Wp paneL for small screen // for WP - top admin panel
@media (max-width: 782px) {
  .admin-bar .top-navbar-scroll-fixed{
    top: 40px;
    transition: all 0.5s;
  }

  .header-nav li.nav-item{
    background: rgba( darken(#fff , 10%) , 0.8);
  }


}