aside.widget-area{
  padding-top: 13px;
}
// wrapper

// add style wp widget  all page and 404 page
section.widget ,
.widget{
  @extend  %wp_widget;

}

.sidebar-404  .widget{
  padding-top: 13px;

}

// widget jetpack  subscribe
section.widget{

  &>form{
    padding: 10px 5px;
    background-color: lighten(lightyellow, 10%);
    transition: all 0.5s;
    &:hover{
      background-color:  lighten(lightyellow , 1%);
    }

    #subscribe-text{

    }
    #subscribe-email{
      input{
        @extend  %form_control;
      }

    }
    #subscribe-submit{

      button{
        @extend  %btn_dark;
      }
    }
  }

}

// subscribe widget Jetpach
p#subscribe-submit button[name=jetpack_subscriptions_widget]{
  border-radius: 3px;
  padding: 3px 9px;
}